# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.eclipse/
.metadata/
.recommenders/

# Java
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Spring Boot
*.pid
spring-shell.log

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Upload files
uploads/

# NodeJS
node_modules/
dist/
package-lock.json